<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-8 offset-md-3">
        <h2>Experiências</h2>
        <ul class="timeline">
            <li *ngFor="let workExperience of workExperienceArray">
                    <a target="_blank" href="https://www.totoprayogo.com/#"><h3>{{workExperience.name}}</h3></a>
                    <p style = "font-weight:lighter">{{workExperience.local}} | {{workExperience.beginDate}} - {{workExperience.endDate}}</p>
                    <p>{{workExperience.description}}</p>
            </li>
        </ul>
      </div>
    </div>
</div>

