<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-8 offset-md-3">
        <h2>Experiências</h2>
        <ul class="timeline">
            <li *ngFor="let workExperience of workExperienceArray">
              <div *ngIf="workExperience.link; else emptyLink">
                <a target="_blank" href="{{workExperience.link}}">
                  <h3>{{workExperience.name}}</h3>
                </a>
              </div>

              <ng-template #emptyLink>
                <h3>{{workExperience.name}}</h3>
              </ng-template>

              <p class="mb-0 font-weight-lighter">{{workExperience.local}} | {{workExperience.beginDate}} - {{workExperience.endDate}}</p>
              <p class="mb-0">{{workExperience.description}}</p>
            </li>
        </ul>
      </div>
    </div>
</div>


