/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #57dcbe;
  --secondary-color: #d9d9d9;
  --bg-light-color: #f9f9f9;
  --bg-dark-color: #343a40;
  --text-light-color: #f9f9f9;
  --text-dark-color: #343a40;
  --footer-light-color: #eaeaea;
  --footer-dark-color: #2c2c2c;
  --heading-color: #292922;
}

body.bootstrap,
body.bootstrap .card,
body.bootstrap .color-overlay{
  background-color: var(--bg-light-color);
}

body.bootstrap h1,
body.bootstrap h2,
body.bootstrap-dark h1,
body.bootstrap-dark h2 {
  color: var(--primary-color);
}

body.bootstrap p,
body.bootstrap h3,
body.bootstrap h4,
body.bootstrap h5,
body.bootstrap h6,
body.bootstrap a,
body.bootstrap span.t-writer {
  color: var(--text-dark-color);
}

body.bootstrap-dark,
body.bootstrap-dark .card,
body.bootstrap-dark .color-overlay {
  background-color: var(--bg-dark-color);
}

body.bootstrap-dark p,
body.bootstrap-dark h3,
body.bootstrap-dark h4,
body.bootstrap-dark h5,
body.bootstrap-dark h6,
body.bootstrap-dark a,
body.bootstrap-dark span.t-writer {
  color: var(--text-light-color);
}

body.bootstrap ul.timeline > li:before {
  background: var(--bg-light-color);
}

body.bootstrap-dark ul.timeline > li:before {
  background: var(--bg-dark-color);
}

body.bootstrap-dark .color-overlay{
  background: linear-gradient(rgba(255,255,255,0.1), var(--bg-dark-color));
}

body.bootstrap .color-overlay{
  background: linear-gradient(rgba(255,255,255,0.5), var(--bg-light-color));
}

.textBox{
  width: 80%;
  margin: 2% auto;
}
.textBox p{
  text-indent: 1.5rem;
}

.t-writer {
  font-weight: bold;
}
