<!-- <div class="app" style="display: flex; height: 35vh; overflow:scroll initial">
    <CDBSidebar textColor="#ffffff" backgroundColor= rgba(0,0,0,0.5); width="8vw">
        <CDBSidebarContent>
            <CDBSidebarMenu class="sidebar-content">
                <CDBSidebarMenuItem link='/'  class="mt-auto">
                    <i class="bi bi-person navButtons"></i>
                </CDBSidebarMenuItem>

                <CDBSidebarMenuItem link='/tables'>
                    <i class="bi bi-file-earmark navButtons"></i>
                </CDBSidebarMenuItem>

                <CDBSidebarMenuItem link='/profile' >
                    <i class="bi bi-book navButtons"></i>
                </CDBSidebarMenuItem>

                <CDBSidebarMenuItem href='/404' >
                    <i class="bi bi-envelope navButtons"></i>
                </CDBSidebarMenuItem>
            </CDBSidebarMenu>
        </CDBSidebarContent>

    </CDBSidebar>
</div> -->


<nav class="floating-menu" id="navBar">
    <ul class="main-menu" >
        <li>
            <a href="#homeContainer" class="ripple">

                <i class="bi bi-house-door"></i>
            </a>
        </li>
        <li>
            <a href="#aboutMeContainer" class="ripple">

                <i class="bi bi-person navButtons"></i>
            </a>
        </li>
        <li>
            <a href="#experienceContainer" class="ripple">

                <i class="bi bi-file-earmark navButtons"></i>
            </a>
        </li>
        <li>
            <a href="#projectsContainer" class="ripple">

                <i class="bi bi-book navButtons"></i>
            </a>
        </li>
        <li>
            <a href="#contactFormContainer" class="ripple">
                <i class="bi bi-envelope navButtons"></i>
            </a>
        </li>
    </ul>
</nav>
