<nav class="floating-menu" id="navBar">
    <ul class="main-menu" >
        <li>
            <a href="#homeContainer" class="navPages">

                <i class="bi bi-house-door"></i>
                <span class="pageName">Home</span>
            </a>
        </li>
        <li>
            <a href="#aboutMeContainer" class="navPages">

                <i class="bi bi-person navButtons"></i>
                <span class="pageName">Sobre</span>
            </a>
        </li>
        <li>
            <a href="#experienceContainer" class="navPages">

                <i class="bi bi-file-earmark navButtons"></i>
                <span class="pageName">Experiencias</span>
            </a>
        </li>
        <li>
            <a href="#projectsContainer" class="navPages">

                <i class="bi bi-book navButtons"></i>
                <span class="pageName">Projetos</span>
            </a>
        </li>
        <li>
            <a href="#contactFormContainer" class="navPages">
                <i class="bi bi-envelope navButtons"></i>
                <span class="pageName">Contato</span>
            </a>
        </li>
    </ul>
</nav>
