.floating-menu {
  z-index: 999;
  left: 0;
  width:10%;
  position: fixed;
  display: flex;
  /* justify-content: center; */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu {
  list-style: none;
  padding:1.5rem;
}

.navPages{
  display:flex;
  margin-top: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--secondary-color);
  color: var(--text-dark-color);
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.active {
  background: var(--primary-color);
  color: var(--text-light-color);
}

.navPages:hover{
  background: var(--primary-color);
  color: var(--text-light-color);
  width: 6.7rem;
  border-radius: 50px;
  text-decoration: none;
}

.pageName{
  display: none;
  text-indent: 8px;
  font-size: 1rem;
}

.navPages:hover > .pageName{
  display: inline-block;
}
