
<footer class="footer">
    <app-social-media class="pb-3"></app-social-media>
    <p>Desenvolvido pelos alunos:</p>
    <p>
        <a href="https://github.com/luizacampello" target="_blank">Luiza Campello</a> |
        <a href="https://github.com/cootoonhoo" target="_blank">Marco Antonio</a> |
        <a href="https://github.com/MarcusFabI0" target="_blank">Marcus Fabio</a> |
        <a href="https://github.com/carvalhosmari" target="_blank">Mariane Carvalho</a> |
        <a href="https://github.com/MatAmaro" target="_blank">Matheus Amaro</a>
    </p>
    <p>
        Como requisito do projeto final do módulo 10: Framework Front-End I Angular, da turma 854 do programa Top Coders/Let's Code (Ada).
    </p>



</footer>

