<app-text-box
    [componentId] = "id"
></app-text-box>

<div class="card">
  <div class="cardContent p-5">

  <form [formGroup]="form" #f = "ngForm" (ngSubmit)="submitForm()">
    <div class="form-row">
      <label class="form-group col-md-6" for="inputNome">
        <input type="text" class="form-control" id="inputNome" formControlName="name" required>
        <span for="inputNome" id="inputLabelName"><h4>Nome</h4></span>
        <span class="border"></span>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">Nome é obrigatório</div>
      </label>

      <label class="form-group col-md-6">
        <input type="text" class="form-control" id="inputEmail" formControlName="email" required/>
        <span for="inputEmail" id="inputLabelEmail"><h4>Email</h4></span>
        <span class="border"></span>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger">Email é obrigatório</div>
      </label>
    </div>

    <label class="form-group">
      <input type="text" class="form-control" id="inputMensagem" formControlName="message" required />
      <span for="inputMensagem" id="inputLabelMessage"><h4>Mensagem</h4></span>
      <span class="border"></span>
      <div *ngIf="message.invalid && (message.dirty || message.touched)"
        class="alert alert-danger">Messagem é obrigatória</div>
    </label>

    <div class = "m-auto w-50">
      <button type="submit" class="btn btn-outline-info btn-block" [disabled]="form.invalid">Enviar</button>
    </div>

  </form>

  </div>

</div>

<div class = "contactInfo">
  <a href="https://wa.me/5511998875624" target="_blank"> <i class="icon bi bi-telephone"></i> +55 11 99887-5624</a>
  <a href="mailto:contact@AliceSenna.com" target="_blank"> <i class="icon bi bi-envelope-at"></i> contact@AliceSenna.com</a>
</div>

