<app-text-box
    [componentId] = "id"
></app-text-box>

<div class="card">
  <div class="cardContent p-5">
  <form>
    <div class="form-row">
      <label class="form-group col-md-6" for="inputNome">
        <input type="text" class="form-control" id="inputNome" required />
        <span for=""><h4>Nome</h4></span>
        <span class="border"></span>
      </label>

      <label class="form-group col-md-6">
        <input type="text" class="form-control" id="inputEmail" required />
        <span for=""><h4>Email</h4></span>
        <span class="border"></span>
      </label>
    </div>

    <label class="form-group">
      <input type="text" class="form-control" id="inputMensagem" required />
      <span for=""><h4>Mensagem</h4></span>
      <span class="border"></span>
    </label>

    <div class = "m-auto w-50">
      <button type="submit" class="btn btn-outline-info btn-block">Send</button>
    </div>

  </form>

  </div>

</div>

