.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.skills-box {
    width: 50%;
    padding: 0 1rem;
}

.progress-bar {
    background-color: var(--primary-color);
}

.value {
    float: right;
    font-style: normal;
}
