.container{
    justify-content: space-between;
}

.skills-box {
    width: 48%;
}

.progress-bar {
    background-color: var(--primary-color);
}

.value {
    float: right;
    font-style: normal;
}
