<div class = "textBox">
    <h2> Projetos </h2>
    <p> Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
</div>
<div class="container">
    <div class="filter">
        <button class = "btn btn-outline-info p-2" *ngFor="let category of categoryArray" id="{{ category }}" (click) = "filterList($event)"> {{ category }}</button>
    </div>
    <div class="d-flex flex-row">
        <div class="projectCards" >
            <app-card-project  *ngFor="let card of cardsArrayFiltered" [cardData]= "card"></app-card-project>
        </div>
    </div>
</div>
