app-projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter button{
    margin: 10px;
}

.btn.btn-outline-info{
    color: var(--primary-color);
    border-color: var(--primary-color);
    min-width: 10%;
    border-radius: 50px;
}
.btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited {
    background-color: var(--primary-color) !important;
    color: var(--text-light-color);
    border-color: var(--primary-color);
}

.selected {
    background-color: var(--primary-color) !important;
    color: var(--text-light-color) !important;
}

